/*
Team 12
Loughborough University
November 2015

Timetabling Prototype Website
Main style.css stylesheet
Used for all universal parts of website (header / navigation bar etc)
*/

/* 
Frequent colours:
off-white background: #FAFAFA;
LU dark purple: #361163;
*/
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: 'Lato';
  background-color:rgba(248,248,248,1);
  background-image: url("images/texture-dustspeckles.png") !important;
  font-size:100%;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
  display: block;
} 
h1, h2, h3, h4, h5 { 
  padding:0px; 
  margin:0px;}

.clear {
  clear:both;
}

.align_left {
  text-align:left;
}
.align_right {
  text-align:right;
}
.align_center {
  text-align:center;
}

.white {color:#FFFFFF;}

/* HEADER */
#header {
  /* Positioning */
  position:absolute;
  left:0;
  right:0;
  top:0;
  /* Properties */
  height:130px;
  width:100%;
  background-color:#361163;
}
a {
  text-decoration:none;
}
#header-topSection {
  height:50px;
  margin-top:20px;
}
#lu-logo {
  max-width:200px;
  height:auto;
  display:inline-block;
  position:absolute;
  margin-left:10px;
}
#main-heading {
  text-align:center;
  color:#FAFAFA;
  font-family:'Lato',sans-serif;
  padding-top:5px;
  margin:0;
  font-size:1.7em;
}
/* ACCESSIBILITY SECTION */
#accessibility-options {
  /* Positioning */
  position: absolute;
  right:20px;
  top:20px;
  /* Properties */
  width:350px;
  height:50px;
  display:inline-block;
  text-align: right;
  color:white;
}
#user-notification-alert {
  position:absolute;
  color:#d51668;
  display:none;
}
.accessibility-option {
  color:white;
}
.accessibility-option:hover {
  cursor:pointer;
  color:rgba(250,250,250,0.7);
  transition-duration: 0.2s;
}
#header-navigation {
  /* Positioning */
  margin-top:25px;
  margin-left:auto;
  margin-right:auto;
  /* Properties */
  text-align:center;
  background-color:#d51668;
  width:auto;
  height:35px;
}
#header-navigation a {
  color:black;
}
#header-navigation ul {
  margin:0 auto;
  width:-webkit-fit-content;
  width:-moz-fit-content;
  width:fit-content;
  list-style:none;
  padding:0;
}
#header-navigation ul li {
  height:30px;
  float:left;
  font-size:1.2em;
  transition-duration: 0.3s;
  padding:5px 15px 0 15px;
}
#header-navigation ul li:hover {
  cursor:pointer;
  background-color:rgba(54,17,99,0.1)
}
.nav-element-active {
  color:#361163;
}

.help-text {
  color:lightgray;
  font-size:0.7em;
  margin-left:5px;
}
.help-icon {
  transition-duration:0.3s;
  width:auto;
  margin-right:20px;
}
.help-icon:hover {
  opacity:0.7;
  cursor:pointer;
}
.help-icon i {
  color:#361163;
}
.user-notification-dropdown {
  display: none;
  width:270px;
  max-height: 400px;
  overflow:scroll;
  height:150px;
  position: absolute;
  right: 35px;
  top:75px;
  z-index: 2000;
}

/* TIMETABLE */
#timetable-container {
  margin-bottom:20px;
}
.timetable-table {
  width:auto;
  height:auto;
  border:1px solid black;
  border-spacing:0;
  border-collapse:collapse;
  margin-left:auto;
  margin-right:auto;
  background-color:white;
}
.timetable-table td {
  border:1px solid black;
  padding:2px;
  width:100px;    /* Width of all table CELLS */
  text-align:center;
}
.timetable-row1-headings {
  background-color: #90add6;    height:40px;    /* Height of heading row */
}
.timetable-row2-monday,
.timetable-row3-tuesday,
.timetable-row4-wednesday,
.timetable-row5-thursday,
.timetable-row6-friday {
  height:70px;   /* Height of regular row cells */
}
.timetable-col1-name {
  background-color: #90add6;}
.timetable-data:hover {
  background-color: #90add6;
  cursor:pointer;
}
.timetable-selected {
  background-color:#6da0e8;
}
.timetable-selected:hover {
  background-color:#567FBA;
}
.timetable-taken {
  background-color:#ff7878;
}
.timetable-taken:hover {
  cursor:default;
  background-color:#ff7878;
}
.timetable-week-text {
  font-size:0.8em;
}
.timetable-link {
  margin-left: 93%;
}
.timetable-content-empty {
  display:none;
}
.timetable-taken-text:hover {
  text-decoration: underline;
  cursor:pointer;
}
.timetable-disabled {
  background-color: rgb(230,230,230);
}
.timetable-disabled:hover {
  cursor:default !important;
  background-color: rgb(230,230,230) !important;
}


/*SUBMISSION LOG*/
.log-group-container {
  margin-bottom:10px;
}
.log-group-rejected {
  background-color:#FF7878;
  height:50px;
  padding:2px;
  transition-duration:0.3s;
}
.log-group-accepted {
  background-color:#4CED72;
  height:50px;
  padding:2px;
  transition-duration:0.3s;
}
.log-group-approved {
  background-color:#65E082;
  height:50px;
  padding:2px;
  transition-duration:0.3s;
}
.log-group-pending {
  background-color:#6DA0E8;
  height:50px;
  padding:2px;
  transition-duration:0.3s;
}
.log-group-rejected:hover {
  cursor:pointer;
  background-color:#F06767;
}
.log-group-pending:hover {
  cursor:pointer;
  background-color:#5D90D9;
}
.log-heading {
  padding:15px;
}
.log-moduleCode {
  float:left;
}
.log-moduleTitle {
  float:left;
  margin-left:10px;
}
.log-status {
  float:right;
  margin-right:10px;
}
.log-icon {
  float:right;
}
.log-icon-unused {
  color:rgba(0,0,0,0.3);
}
.log-icon:hover {
  opacity:0.7;
  cursor:pointer;
}
.log-contents-container {
  display:none;
}
.log-contents-container-hidden {
  display:none;
}

.log-entry-accepted {
  height:40px;
  padding:2px;
  background-color:#C9F0D2;
}
.log-entry-approved {
  height:40px;
  padding:2px;
  background-color:#C9F0D2;
}
.log-entry-rejected {
  height:40px;
  padding:2px;
  background-color:#D69090;
}
.log-entry-pending {
  height:40px;
  padding:2px;
  background-color:#90ADD6;
}
.log-entry-icons {
  float:left;
  margin:10px 20px 0 20px;	
}
.log-entry-edit-icon {
  margin-right:10px;
}
.log-entry-copy-icon {
  margin-right:10px;
}
.log-entry-delete-icon {
  margin-right:10px;
}
.log-entry-information {
  margin-left: 130px;
}
.log-entry-status {
  float:right;
  margin-right:15px;
  margin-top:10px;
}
.log-entry-room, .log-entry-semester, .log-entry-day, .log-entry-time, .log-entry-priority, .log-entry-round {
  margin-left:20px;
}

/* Dropdown styles */
.form-dropdown-small,.form-dropdown-medium,.form-dropdown-large,.form-dropdown-xlarge {
  padding: 4px 12px;
  /*	border: 0 !important;  Removes border*/
  border-bottom: 1px solid black;
  border-top:none;
  border-left:none;
  border-right:none;
  -webkit-appearance: none;  /*Removes default chrome and safari style*/
  -moz-appearance: none; /* Removes Default Firefox style*/
  background: url('../images/down-arrow.png') no-repeat;  /*Adds background-image*/
  text-indent: 0.01px; /* Removes default arrow from firefox*/
  text-overflow: "";  /*Removes default arrow from firefox*/
  font-size:1em;
}
.form-dropdown-small {
  background-position: 42px 10px;  /*Position of the background-image*/
  width: 70px; /*Width of select dropdown to give space for arrow image*/
}
.form-dropdown-medium {
  background-position: 82px 10px;  /*Position of the background-image*/
  width: 110px; /*Width of select dropdown to give space for arrow image*/
}
.form-dropdown-large {
  background-position: 152px 10px;  /*Position of the background-image*/
  width: 180px; /*Width of select dropdown to give space for arrow image*/
}
.form-dropdown-xlarge {
  background-position: 262px 10px;  /*Position of the background-image*/
  width: 290px; /*Width of select dropdown to give space for arrow image*/	
}
.form-dropdown-small:hover,.form-dropdown-medium:hover,.form-dropdown-large:hover,.form-dropdown-xlarge:hover {
  cursor:pointer;
}
.form-control {
  display: block;
  width: 100%;
  height: auto;
  font-size: 1em; /* was 0.85em */
  line-height: 1.42857;
  color: #555;
  background-color: transparent;
  background-image: none;
  outline:0;
  border:0;
  border-bottom: 1px solid black;
  padding: 4px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  display: inline-block;
  vertical-align: middle;
}
.form-control:focus {
  outline:0;
}

/* Timetable jQuery Popup */
.messagepop {
  background-color:#FFFFFF;
  border:1px solid rgba(0,0,0,0.4);
  cursor:default;
  display:none;
  margin-top: 15px;
  position:absolute;
  text-align:left;
  z-index:50;
  padding: 25px 25px 20px;	
  left: 35%;
  width: 30%;
}

.messagepop p, .messagepop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}

.messagepop .close:hover {
  cursor:pointer;
}
/* End of Timetable jQuery Popup */
.notification-accepted {
  margin-bottom:8px;
}
.notification-rejected {
  margin-bottom:8px;
}
#notification-container {
  font-size:0.85em;
}
#read-icon:hover {
  opacity:0.7;
  cursor:pointer;
}

#page-content-container {
  width:1170px; 
  margin:auto; 
  height:auto; 
  overflow:hidden;
  margin-top:120px;
  /*background-color:white;*/
}

.card-container {
  margin:auto; 
  height:auto;
  background: #fff;
  padding: 20px;
  box-shadow:0 5px 5px rgba(0, 0, 0, 0.08);
  -moz-box-shadow:0 5px 5px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow:0 5px 5px rgba(0, 0, 0, 0.08);
}