/*
Timetabling Prototype Website
Module manager page's stylesheet
Used for modulemanager page styles ONLY
*/

/* 
Frequent colours:
off-white background: #FAFAFA;
LU dark purple: #361163;
*/


/* FORM CHANGES */
#createmodule-container {
  margin-top:30px;
  align-content: center;
}
#editdeletemodule-container {
  margin-top:20px;
  margin-bottom: 15px;
}
.form-label {
  margin-right:15px;
}
.form-cont{
  position: relative;
  width: 100%;
  display: inline-block;
}
.form-cont div{
  margin:20px;
  display: inline-block;
  width:45%
}
.form-cont div label{
  width: 160px;
}
.search-cont{
  position: relative;
  padding: 5px;
  margin: 5px;
  padding-left: 0px;
  margin-left: 0px;
}
.search-cont select{
  border:1px solid #ccc;
  padding: 5px 8px;
}
.btn{
  padding: 5px 8px;
  background: #ccc;
  border:#0c0;
  color: #fff;
}
.btn.ok{
  background-color: #60ac48;  
}
.btn.del{
  background-color: #dc2827;
}
.mod-mng-list div{
  border:1px solid #ccc;
  min-height: 150px;
  float: left;
  padding: 10px;
}
.mod-mng-list>div:first-child{
  width: 40%;
}
.mod-mng-list>div:last-child{
  width: 10%;
  text-align: center;
  margin-left: 20px;
}
.mul-sel{
  width: 100%;
  height: 100%;
  min-height: 150px;
}
#del-mod{
  position: relative;
  display: block;
  margin:0 auto;
}
#update-mod:hover,#del-mod:hover,#create-mod:hover {
  background-color:rgba(0,0,0,0.2);
  cursor:pointer;
  transition-duration:0.2s;
}
#mod-list option:hover {
  cursor:pointer;
  background-color: rgba(0,0,0,0.1);
}
.editmodule-blocks {
  vertical-align: top;
  align-content: center;
  height: 100%;
  display: inline-block;
  margin: 20px;
  padding: 10px;
  min-height: 150px;
}
#del-block{
  width:10%;
  margin-right: 0;
}
#upd-block{
  width: 45%;
  margin-left: 0;
  margin-right: 0;
}
#search-block{
  width: 35%;
  margin-left: 0;
}
.form-edit-input{
  margin:10px
}